<h2>What's In Your Backpack</h2>


<label name="weight"> How Much You Want To Carry: </label>
<input name="weight" type="text" ng-model="itemsList.totalPounds">


<p>The total weight is: {{itemsList.total}} pounds.

<span ng-if="itemsList.total > itemsList.totalPounds">
Your bag is {{itemsList.total - itemsList.totalPounds}} pounds overweight!
</span>

<span ng-if="itemsList.total < itemsList.totalPounds">You can still add {{itemsList.totalPounds - itemsList.total}} more pounds!</span>

</p>

<div class="well" ng-repeat="item in itemsList.items track by $index" class="itemList">

  <p class="listText"><strong>Name:</strong> {{item.itemName}}</p>
    <img ng-src="{{item.img}}">
  <p class="listText"><strong>Description:</strong> {{item.description}}</p>
  <p class="listText"><strong>Weight:</strong> {{item.weight}}</p>
<!--   <a ng-href="/{{item._id}}">Link to Item</a> -->
  
  <button ng-click="itemsList.deleteSelected(item._id)" class="btn btn-danger glyphicon glyphicon-trash pull-right">Delete</button>

</div>