<h1>What's In Your Backpack</h1>


<label name="weight"> How Much You Want To Carry: </label>
<input name="weight" type="text" ng-model="itemsList.totalPounds">


<p>The total weight is: {{itemsList.total}} pounds.

<span ng-if="itemsList.total > itemsList.totalPounds">
Your bag is {{itemsList.total - itemsList.totalPounds}} pounds overweight!
</span>

<span ng-if="itemsList.total < itemsList.totalPounds">You can still add {{itemsList.totalPounds - itemsList.total}} more pounds!</span>

</p>

<div class="well" ng-repeat="item in itemsList.items track by $index" class="itemList">

<h2>{{item.itemName}}</h2>
    <img class="pull-right item-img" ng-src="{{item.img}}">
  <p class="listText"><span class="headline">Weight:</span> {{item.weight}} lbs</p>
  <p class="listText"> <span class="headline">Cost:</span> ${{item.itemType}}.00</p>
  <p class="listText"><span class="headline">Description:</span> {{item.description}}</p>
  <!-- <button ng-href="updateSelected(item_id)" class="btn btn-danger glyphicon glyphicon-trash pull-right">Update</button> -->
  <button ng-click="itemsList.deleteSelected(item._id)" class="btn btn-danger glyphicon glyphicon-trash">Delete</button>


</div>