

h1 {
  text-align: center;
  font-family: "Tungsten A", "Tungsten B" !important;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Tungsten A", "Tungsten B" !important;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 1px;
}

h2 span {
  letter-spacing: 20px;
}

.clearfix {
  padding-bottom: 10px;
}

.headline {
  font-family: "Tungsten A", "Tungsten B" !important;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: .8px;
}

.headlinebtn {
  font-family: "Tungsten A", "Tungsten B" !important;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1.2px;
  border-radius: 20px;
}

.headlinebtn:hover {
  background-color: black;
  color: white;
  border-style: none;
}
.hero-headline {
  color: white;
  margin-top: -5px;
  padding-top: 120px;
  font-size: 100px;
  letter-spacing: 1px;
}

.p-headline {
  text-align: center;
  margin-top: -14px;
  font-weight: bold;
}

.main-btn {
  margin-bottom: 140px;
}

.well {
  background-color: #FFF !important;
}

.item-img {
  height: 200px;
  margin-top: -50px;
  padding-left: 15px;
}
/* DETAILS */



.hero {
  background-image: url('/hero.png');
  height: 435px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 80px;
}



/* Add An Item */

.addItemTitle {
  text-align: center;
}

.addItemDiv {
  text-align: center;
}

.addItemButton {
  border-radius: 20px;
}




