* {
  padding: 0;
  margin: 0;
}

body {
  width: 75%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

/* MAIN SECTION BLOCKING */

section {
  display: block;
  padding: 1.5em 0;
  overflow: auto;
}

.inlineHeaderLeft {
  float: left;
}

.inlineHeaderRight {
  float: right;
}

/* DETAILS */

div.backpack {
  border: 2px black solid;
  height: 10em;
}

.descriptor, input.descriptorInput {
  font-size: 1.5em;
}

ul, li {
  list-style: none;
}

.listText {
  padding: 1em 0;
}

/* Add An Item */

.addItemTitle {
  text-align: center;
  padding: 1em;
}

.addItemDiv {
  text-align: center;
}

.addItemButton {
  padding: 1em;
}

.addFormSection {
  border: 3px solid black;
  padding: 1em;
}



